<%- include('./partials/head.ejs') %>
<!-- ikeliam bendra navigacijos faila -->
<%- include('./partials/nav.ejs') %>


<section class="jumbotron text-center" data-post-id="<%= post._id %>">
    <div class="container">
        <h1>
            <input value="<%= post.title%>">
        </h1>
        <h4>
            <input value="<%= post.author%>">
        </h4>
        <p class="lead text-muted">
            <input value="<%= post.body%>">
        </p>
        <p>
            <button class="btn btn-primary my-2">Update</button>
        </p>
    </div>
</section>

<!-- ikeliam bendra footer -->
<%- include('./partials/footer.ejs') %>