<%- include('../partials/head.ejs') %>
<!-- ikeliam bendra navigacijos faila -->
<%- include('../partials/nav.ejs') %>


<section class="jumbotron text-center" data-post-id="<%= post._id %>">
    <div class="container">
        <h1><%= post.title %></h1>
        <h4>
            <%= post.author %>
        </h4>
        <p class="lead text-muted">
            <%= post.body %>
        </p>
        <p>
            <a href="/single/edit/<%= post._id %>" class="btn btn-primary my-2">Edit</a>
            <a href="#" data-post-id="<%= post._id %>" id="delete" class="btn btn-danger my-2">Delete</a>
        </p>
    </div>
</section>

<!-- ikeliam bendra footer -->
<%- include('../partials/footer.ejs') %>