<%- include('../partials/head.ejs') %>
<!-- ikeliam bendra navigacijos faila -->
<%- include('../partials/nav.ejs') %>


<section class="jumbotron text-center">
  <div class="container">
    <form id="edit-owner-form" data-post-id="<%= myOwner._id %>">
      <h1
        ><input required type="text" class="form-control" name="name" value="<%= myOwner.name %>"
      /></h1>
      <h4
        ><input required type="text" class="form-control" name="email" value="<%= myOwner.email %>"
      /></h4>
      <p>
        <a href="/owners" class="btn btn-success my-2">go back</a>
        <button type="submit" class="btn btn-primary my-2">Save Owner</button>
      </p>
    </form>
  </div>
</section>

<!-- ikeliam bendra footer -->
<%- include('../partials/footer.ejs') %>