<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<main role="main">
    <h1 class="display-3"> This is our owners pagelist</h1>
    <a href="/owners/new"> Add new owner </a>

    <div class="album py-5 bg-light">
        <div class="container">
            <%- include ('_searchForm.ejs')%>
            <div class="row">
                <% resultOwner.forEach((owner) => { %>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <%- `<h5 class="card-title"> ${owner.name} </h5>` %>
                                <%- `<h6 class="text-muted"> ${owner.email} </h6>` %>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="/owners/singleOwner/<%= owner.id %>"
                               class="btn btn-sm btn-outline-secondary">View</a>
                            <a href="/owners/singleOwner/edit/<%= owner.id %>"
                               type="button"
                               class="btn btn-sm btn-outline-secondary">Edit</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer.ejs') %>